@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  height: 100vh;
  display: grid;
  place-content: center;
  /*  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  */
  font: 400 1rem/0.5rem "Poppins", sans-serif;
  background-color: #e74c3c; /* Vermelho Coral */
}

/*  */
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font: 400 1rem/1.25rem "Poppins", sans-serif;
}

input {
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0.1rem solid black;
}
input[type="number"]:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 0.1rem solid black;
}
header {
  text-align: center;
  margin: 0;
  padding: 0;
}
/*  */
#container {
  display: flex;
  align-items: center;
}

/*  */
#calculator {
  max-width: 100%;
  height: 400px;
  display: grid;
  place-content: center;
  gap: 1.25rem;
  /*  */
  padding: 1.8rem;
  border-radius: 1rem;
  background: #fafafa;
  color: #1e1e1e;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: translate(20px);
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}
button {
  font-size: 1.2rem;
  width: 100%;
  /*  */
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  background: #1e1e1e;
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.473) 0px -3px 0px inset;
  transition: color 0.3s ease;
}
button:hover {
  background: #1e1e1e;
  box-shadow: none;
}

/*  */
#history {
  max-width: 100%;
  width: 100%;
  height: 400px;
  display: grid;
  place-content: center;
  /*  */
  padding: 1.8rem 3rem;
  border-radius: 1rem 2rem;
  background: #1e1e1e;
  color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#history h2 {
  margin: 0;
  padding: 0;
}
ul {
  gap: 2rem;
}
