/* Reset and general settings */
* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

/* Body styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: radial-gradient(
    circle,
    #eff3ff,
    #ecedf7,
    #e8e8ee,
    #e3e3e6,
    #dedede
  );
}

/* Main container */
.container {
  margin: 0 auto;
  max-width: 75%;
  width: 32rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Header */
header {
  padding: 1rem;
}
header h1 {
  color: #587d71;
  font-weight: 700;
}

/* Flex container */
.flex {
  display: flex;
}

/* Headings */
h3 {
  text-align: center;
  margin-bottom: 0;
  font-weight: 400;
}

/* Forms */
.forms {
  width: 100%;
  background-color: #754668;
}
.forms div:nth-child(1) {
  text-align: center;
  margin: 0;
}

/* Form box */
.box {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  padding-top: 0;
}

/* Inputs */
input {
  width: 100%;
  margin: auto;
  padding: 0.8rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  color: #587d71;
  background-color: white;
}
input:focus {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Buttons */
.box div:last-child {
  text-align: center;
}
.box button {
  width: 30%;
  margin: auto;
  padding: 0.75rem 0;
  border-radius: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: #587d71;
  background-color: white;
  margin-bottom: 0.3rem;
}
.box button:hover {
  background-color: buttonface;
}

/* Links */
.box a {
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

/* Media queries */
@media screen and (max-width: 620px) {
  .flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 310px) {
  h1 {
    font-size: 1.5rem;
  }
  header section {
    font-size: 0.9rem;
  }
  .forms ul {
    padding-left: 1rem;
  }
}
